/* Assign grid instructions to our parent grid container */
.grid-container {
}

/* Give every child element its grid name */
.header {
	grid-area: header;
	position: sticky;
}

.sidenav {
}

.main {
	grid-area: main;
	color: black;
	background-color: whitesmoke;
}
