#titleHeader {
	text-decoration: none !important;
	font-weight: bolder !important;
}

.sidenav__list-item:hover {
	background-color: rgba(255, 255, 255, 0.2);
	font-weight: bold;
	text-decoration: none;
}

a:active {
	text-decoration: none !important;
}

a:hover {
	color: black !important;
	font-weight: bold;
	text-decoration: none !important;
}
