.sidenav {
	display: flex; /* Will be hidden on mobile */
	position: sticky;
	flex-direction: column;
	grid-area: sidenav;
	background-color: #394263;
}
.sidenav__list {
	padding: 0;
	margin-top: 85px;
	list-style-type: none;
}

a {
	text-decoration: none;
	color: white;
}

.sidenav__list-item {
	padding: 20px 20px 20px 40px;
	color: #ddd;
	text-decoration: none;
}
.sidenav__list-item:hover {
	background-color: rgba(255, 255, 255, 0.2);
	cursor: pointer;
	font-weight: bold;
	text-decoration: none;
}

.sidenav__header a {
	text-decoration: none;
	color: white;
}
i {
	padding-left: 20px;
	font-size: 20px;
}
h1 {
	text-align: center;
}
